extends ../layouts/default

block main
  h1= product.name
  - each image, i in product.images
    img.mb-2(src=image, alt=product.name + i)

  h3= '$' + product.price

  p=product.description

  .meta.mb-4
    span.muted= 'Account created: ' + formatDate(product.createdAt)
| &nbsp;&nbsp;
