extends ../layouts/default

block main
  h1= product.name
  img.mb-2(src=product.image, alt=product.name)

  h3= '$' + product.price

  p=product.description

  .meta.mb-4
    span.muted= 'Account created: ' + formatDate(product.createdAt)
| &nbsp;&nbsp;
